<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- PROPERTIES -->
    <property name="logFile" value="jsf-jetty-primefaces-login.log" />

    <!-- LOGBACK APPENDERS -->
    <appender name="APP_LOG_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${logFile}</File>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]
                %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.codenotfound.jsf.primefaces" level="INFO" />

    <logger name="org.primefaces" level="WARN" />

    <!-- APPLICATION LOG LEVEL -->
    <root level="WARN">
        <appender-ref ref="APP_LOG_FILE" />
    </root>

</configuration>
